.form div {
  margin-bottom: 0.5rem;
  /* width: 80%; */
}

.form div div {
  width: 100%;
}

.form button {
  width: 50%;
}
.form input {
  width: 100%;
}

.wrapper {
  margin: 3rem auto;
  height: max-content;
  width: max-content;
  padding: 2rem;
}

.text {
  color: rgb(27, 61, 214);
  margin-bottom: 2rem;
  font-weight: bolder;
  text-transform: capitalize;
}

.action_form {
  display: flex;
  align-content: space-around;
  margin-top: 0.6rem;
}
